<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="passwordHistory">
            <h2><span>Password History</span> {{ passwordHistory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>History No 1</span></dt>
                <dd>
                    <span>{{ passwordHistory.historyNo1 }}</span>
                </dd>
                <dt><span>History No 2</span></dt>
                <dd>
                    <span>{{ passwordHistory.historyNo2 }}</span>
                </dd>
                <dt><span>History No 3</span></dt>
                <dd>
                    <span>{{ passwordHistory.historyNo3 }}</span>
                </dd>
                <dt><span>History No 4</span></dt>
                <dd>
                    <span>{{ passwordHistory.historyNo4 }}</span>
                </dd>
                <dt><span>History No 5</span></dt>
                <dd>
                    <span>{{ passwordHistory.historyNo5 }}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{ passwordHistory.userLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/password-history', passwordHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
